<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Add Work</title>
  </head>
  <body>
    	<div class="container" style="margin-top:1.7cm; ">
			<img src="/src/image/work.png" class="img-fluid" alt="Responsive image">
	  </div>
		<div class="container" style="margin-top:1.7cm;margin-bottom:2.7cm;">
			
			<form action="/hunch/pal/resume/resumefilltwo" method="post">
				
				
				
				<div class="form-group">
    <label for="inputAddress">Current Designation</label>
    <input name="Current_Designation" type="text" class="form-control" id="inputAddress" placeholder="Your job title">
  </div>
				
				<div class="form-group">
    <label for="inputAddress">Current Company</label>
    <input name="Current_Company" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
				
				
				
				<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Annual Salary INR</span>
  </div>

  <input name="Annual_Salary" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <div class="input-group-append">
    <span class="input-group-text">.00</span>
  </div>
</div>
				
				<div class="form-row align-items-center">
										    

					<div class="col-sm-3 my-1">
					
					<label class="mr-sm-2" for="inlineFormCustomSelect">Working since</label>
      <select name="Working_since" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Year</option>
       <option selected>2020</option>
        <option selected>2019</option>
        <option selected>2018</option>
		<option selected>2017</option>
        <option selected>2016</option>
        <option selected>2015</option>
        <option selected>2014</option>
        <option selected>2013</option>
        <option selected>2012</option>
        <option selected>2011</option>
        <option selected>2010</option>
        <option selected>2009</option>
        <option selected>2008</option>
        <option selected>2007</option>
        <option selected>2006</option>
        <option selected>2005</option>
        <option selected>2004</option>
        <option selected>2003</option>
        <option selected>2002</option>
        <option selected>2001</option>
        <option selected>2000</option>
		<option selected>1999</option>
        <option selected>1998</option>
        <option selected>1997</option>
        <option selected>1996</option>
        <option selected>1995</option>
        <option selected>1994</option>
        <option selected>1993</option>


      </select>
					
					</div>
					<div class="col-sm-3 my-1">
					    <label class="mr-sm-2" for="inlineFormCustomSelect">Month</label>
						<select name="Month" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Month</option>
        <option selected>January</option>
        <option selected>February</option>
        <option selected>March</option>
	    <option selected>April</option>
        <option selected>May</option>
        <option selected>June</option>
        <option selected>July</option>
        <option selected>August</option>
        <option selected>September</option>
        <option selected>October</option>
        <option selected>November</option>
        <option selected>December</option>

      </select>
					</div>
					<div class="col-sm-3 my-1">
					    <label class="mr-sm-2" for="inlineFormCustomSelect">Present</label>
						<select name="Present" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Present</option>
        <option selected>2020</option>
        <option selected>2019</option>
        <option selected>2018</option>
		<option selected>2017</option>
        <option selected>2016</option>
        <option selected>2015</option>
        <option selected>2014</option>
        <option selected>2013</option>
        <option selected>2012</option>
        <option selected>2011</option>
        <option selected>2010</option>
        <option selected>2009</option>
        <option selected>2008</option>
        <option selected>2007</option>
        <option selected>2006</option>
        <option selected>2005</option>
        <option selected>2004</option>
        <option selected>2003</option>
        <option selected>2002</option>
        <option selected>2001</option>
        <option selected>2000</option>
		<option selected>1999</option>
        <option selected>1998</option>
        <option selected>1997</option>
        <option selected>1996</option>
        <option selected>1995</option>
        <option selected>1994</option>
        <option selected>1993</option>
      </select>
					</div>
					
				</div>
				
				<div class="form-group">
    <label for="inputAddress">Current Location</label>
    <input name="Current_Location" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
				
				
				<div class="col-sm-3 my-1">
					    <label class="mr-sm-2" for="inlineFormCustomSelect">Country</label>
						<select name="inside" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>India</option>
		<option selected>Outside India</option>

     
      </select>
					</div>
					
			
				
		
				<div class="form-group">
					    <label for="inputAddress">Duration of Notice Period</label>
				<select name="Duration" class="form-control">
  <option>Select duration of your Period</option>
					  <option>15 days or less </option>

					  <option>1 Months</option>

					  <option>2 Months</option>
										  <option>3 Months</option>
															  <option>More than 3 Months</option>



</select>
				</div>
				
				
				
				<div class="form-group">
					    <label for="inputAddress">Industry</label>
				<select name="Industry" class="form-control">
										  <option>Industry</option>
										  <option>Aerospace Industry</option>
										  <option>Transport Industry</option>
										  <option>Computer Industry</option>
										  <option>Telecommunication industry</option>
										  <option>Agriculture industry</option>
										  <option>Construction Industry</option>
										  <option>Education Industry</option>
										  <option>Pharmaceutical Food</option>
										  <option>Health care</option>
										  <option>Hospitality</option>
										  <option>Entertainment</option>
										  <option>News Media</option>
										  <option>Energy</option>
										  <option>Manufacturing</option>
										  <option>Music</option>
										  <option>Mining</option>
										  <option>Worldwide web</option>
										  <option>Electronics</option>





</select>
				</div>
				<div class="form-group">
										    <label for="inputAddress">Functional Area</label>

				<select  name="Functional_Area" class="form-control">
  <option>Functional Area</option>
</select>
				</div>
				<div class="form-group">
					Role
							<select name="Role" class="form-control">
  <option>Role</option>
  <option>Aircraft Dispatcher</option>
  <option>Aircraft Mechanic</option>
  <option>Airline Pilot</option>
  <option>Federal Air Marshall</option>
  <option>Flight Attendant</option>
  <option>Transportation Security Office</option>
  <option>Transportation Security Office</option>
  <option>Actor</option>
  <option>Architect</option>
  <option>Art Appraiser</option>
  <option>Art Auctioneer</option>
  <option>Artist</option>
  <option>Museum Jobs</option>
  <option>Music Conductor</option>
  <option>Accountant</option>
  <option>Administrative Assistant/Secretary</option>
  <option>Advertising</option>
  <option>Consultant</option>
  <option>Chief Operating Officer</option>
  <option>City Manager</option>
  <option>Financial Advisor</option>
  <option>Fundraiser</option>
  <option>Government Jobs</option>
  <option>Human Resources</option>
  <option>Insurance Agent</option>
  <option>Investment Banker</option>
  <option>Lawyer</option>
  <option>Market Research Analyst</option>
<option>College Professor</option>
<option>Music Teacher</option>
<option>School Jobs</option>
<option>Substitute Teacher</option>
<option>Teacher</option>
<option>Teaching Abroad</option>
<option>Teaching Online</option>
<option>Border Control Agent</option>
<option>Correctional Officer</option>
<option>Criminal Justice</option>
<option>DCIS Special Agent</option>
<option>FBI Special Agent</option>
<option>Federal Law Enforcement</option>
<option>Fish and Game Warden</option>
<option>ICE Agent</option>
<option>K-9 Police Officer</option>
<option>Police Dispatcher</option>
<option>Police Officer</option>
<option>State Trooper</option>
<option>Uniformed Secret Service Officer</option>
<option>Book Publishing</option>
<option>Freelance Writer</option>
<option>Public Relations</option>
<option>Web Developer</option>
<option>Writer/Editor</option>
<option>Doctor</option>
<option>Forensic Psychologist</option>
<option>Hospitalist</option>
<option>Mental Health Counselor</option>
<option>Nurse</option>
<option>Orthodontist</option>
<option>Paramedic</option>
<option>Pediatrician</option>
<option>Physician Assistant</option>
<option>Psychiatrist</option>
<option>Psychologist</option>
<option>Social Worker</option>
<option>Veterinarian</option>
<option>Bank Teller</option>
<option>Call Center</option>
<option>Hair Stylist</option>
<option>Personal Fitness Trainer</option>
<option>Retail</option>
<option>Sales</option>
<option>Waiter</option>
<option>Wedding Planner</option>
<option>Back End Developer</option>
<option>Computer Programmer</option>
<option>Computer Systems Administrator</option>
<option>Database Administrator</option>
<option>Programmer</option>
<option>Software Developer</option>
<option>Web Developer</option>






</select>
				</div>
				 <button class="btn btn-primary" type="submit">Next</button>
			</form>
	  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>