<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Fill UG</title>
  </head>
  <body>
     <div class="container" style="margin-top:4cm;">
		<form action="/hunch/pal/resume/resumefillthree/<%=TOKEN%>/pg" method="post">
			<div class="input-group mb-3">
  					<div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Qualification</label>
  </div>
  <select name="SecoundHighestQualification" class="custom-select" id="inputGroupSelect01">
    <option selected>Graduation/Diploma</option>
    <option selected>12th</option>
    <option selected>10th</option>
	<option selected>Below 10th</option>

  </select>
</div>
			
			
			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Course</label>
  </div>
  <select name="SecoundCourse" class="custom-select" id="inputGroupSelect01">
    <option selected>B.A</option>
    <option selected>B.Arch</option>
    <option selected>B.B.A/B.M.S</option>
    <option selected>B.Com</option>
	      <option selected>B.Tech</option>
	<option selected>B.Des.</option>

  </select>
</div>
			
	
		
			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Specialization</label>
  </div>
  <select name="SecoundSpecialization" class="custom-select" id="inputGroupSelect01">
    <option selected>B.A</option>
    <option selected>B.Arch</option>
    <option selected>B.B.A/B.M.S</option>
    <option selected>B.Com</option>
	      <option selected>B.Tech</option>
	<option selected>B.Des.</option>

  </select>
</div>
			
				<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">University/College</span>
  </div>
  <input name="SecoundUniversity" placeholder="Institue Name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Course Type</label>
  </div>
  <select name="SecoundCourseType" class="custom-select" id="inputGroupSelect01">
    <option selected>Full Time</option>
    <option selected>Part Time</option>
    <option selected>Correspondence</option>


  </select>
</div>
			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Passing Year</label>
  </div>
  <select name="SecoundPassingYear" class="custom-select" id="inputGroupSelect01">
    <option selected>Year</option>
       <option selected>2020</option>
        <option selected>2019</option>
        <option selected>2018</option>
		<option selected>2017</option>
        <option selected>2016</option>
        <option selected>2015</option>
        <option selected>2014</option>
        <option selected>2013</option>
        <option selected>2012</option>
        <option selected>2011</option>
        <option selected>2010</option>
        <option selected>2009</option>
        <option selected>2008</option>
        <option selected>2007</option>
        <option selected>2006</option>
        <option selected>2005</option>
        <option selected>2004</option>
        <option selected>2003</option>
        <option selected>2002</option>
        <option selected>2001</option>
        <option selected>2000</option>
		<option selected>1999</option>
        <option selected>1998</option>
        <option selected>1997</option>
        <option selected>1996</option>
        <option selected>1995</option>
        <option selected>1994</option>
        <option selected>1993</option>


  </select>
</div>
			
			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Medium</label>
  </div>
  <select name="SecoundMedium" class="custom-select" id="inputGroupSelect01">
 
       <option selected>English</option>
        <option selected>Tamil</option>
      
	


  </select>
</div>
			
			
			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Percentage</label>
  </div>
  <select name="SecoundPercentage" class="custom-select" id="inputGroupSelect01">
       <option selected>95-99.9%</option>
        <option selected>90-95%</option>
        <option selected>85-90%</option>
		<option selected>80-85%</option>
        <option selected>75-80%</option>
        <option selected>70-75%</option>
        <option selected>65-70%</option>
        <option selected>60-65%</option>
        <option selected>55-60%</option>
        <option selected>50-55%</option>
        <option selected>45-50%</option>
        <option selected>40-45%</option>
        <option selected>35-40%</option>
        <option selected>30-35%</option>
        <option selected>25-30%</option>
        <option selected>Failed</option>
        <option selected>Washout</option>
         <option selected>Percentage</option>


  </select>
</div>
			
			
				
			
			
			<br>
			<br>			<br>
			<br>
			<br>

			
			<div class="input-group mb-3">
  					<div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Qualification</label>
  </div>
  <select name="ThirdHighestQualification" class="custom-select" id="inputGroupSelect01">
    <option selected>12th</option>
    <option selected>10th</option>
	<option selected>Below 10th</option>

  </select>
</div>
			
			
			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Course</label>
  </div>
  <select name="ThirdCourse" class="custom-select" id="inputGroupSelect01">
    <option selected>Computer Science</option>
    <option selected>Biology</option>
	      <option selected>Commers</option>



  </select>
</div>
			
	
		
			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Specialization</label>
  </div>
  <select name="ThirdSpecialization" class="custom-select" id="inputGroupSelect01">
    <option selected>B.A</option>
    <option selected>B.Arch</option>
    <option selected>B.B.A/B.M.S</option>
    <option selected>B.Com</option>
	      <option selected>B.Tech</option>
	<option selected>B.Des.</option>

  </select>
</div>
			
				<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">School/Institute</span>
  </div>
  <input name="ThirdUniversity" placeholder="Institue Name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Course Type</label>
  </div>
  <select name="ThirdCourseType" class="custom-select" id="inputGroupSelect01">
    <option selected>Full Time</option>
    <option selected>Part Time</option>
    <option selected>Correspondence</option>


  </select>
</div>
			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Passing Year</label>
  </div>
  <select name="ThirdPassingYear" class="custom-select" id="inputGroupSelect01">
    <option selected>Year</option>
       <option selected>2020</option>
        <option selected>2019</option>
        <option selected>2018</option>
		<option selected>2017</option>
        <option selected>2016</option>
        <option selected>2015</option>
        <option selected>2014</option>
        <option selected>2013</option>
        <option selected>2012</option>
        <option selected>2011</option>
        <option selected>2010</option>
        <option selected>2009</option>
        <option selected>2008</option>
        <option selected>2007</option>
        <option selected>2006</option>
        <option selected>2005</option>
        <option selected>2004</option>
        <option selected>2003</option>
        <option selected>2002</option>
        <option selected>2001</option>
        <option selected>2000</option>
		<option selected>1999</option>
        <option selected>1998</option>
        <option selected>1997</option>
        <option selected>1996</option>
        <option selected>1995</option>
        <option selected>1994</option>
        <option selected>1993</option>


  </select>
</div>
			
			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Medium</label>
  </div>
  <select name="ThirdMedium" class="custom-select" id="inputGroupSelect01">
 
       <option selected>English</option>
        <option selected>Tamil</option>
      
	


  </select>
</div>
			
			
			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Percentage</label>
  </div>
  <select name="ThirdPercentage" class="custom-select" id="inputGroupSelect01">
       <option selected>95-99.9%</option>
        <option selected>90-95%</option>
        <option selected>85-90%</option>
		<option selected>80-85%</option>
        <option selected>75-80%</option>
        <option selected>70-75%</option>
        <option selected>65-70%</option>
        <option selected>60-65%</option>
        <option selected>55-60%</option>
        <option selected>50-55%</option>
        <option selected>45-50%</option>
        <option selected>40-45%</option>
        <option selected>35-40%</option>
        <option selected>30-35%</option>
        <option selected>25-30%</option>
        <option selected>Failed</option>
        <option selected>Washout</option>
         <option selected>Percentage</option>


  </select>
</div>
			
			
			
			
			
			<br>
			<br>			<br>
			<br>
			<br>

			
			<div class="input-group mb-3">
  					<div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Qualification</label>
  </div>
  <select name="FourthHighestQualification" class="custom-select" id="inputGroupSelect01">
    <option selected>Graduation/Diploma</option>
    <option selected>12th</option>
    <option selected>10th</option>
	<option selected>Below 10th</option>

  </select>
</div>
			
			
			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Course</label>
  </div>
  <select name="FourthCourse" class="custom-select" id="inputGroupSelect01">
    <option selected>B.A</option>
    <option selected>B.Arch</option>
    <option selected>B.B.A/B.M.S</option>
    <option selected>B.Com</option>
	      <option selected>B.Tech</option>
	<option selected>B.Des.</option>

  </select>
</div>
			
	
		
			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Specialization</label>
  </div>
  <select name="FourthSpecialization" class="custom-select" id="inputGroupSelect01">
    <option selected>B.A</option>
    <option selected>B.Arch</option>
    <option selected>B.B.A/B.M.S</option>
    <option selected>B.Com</option>
	      <option selected>B.Tech</option>
	<option selected>B.Des.</option>

  </select>
</div>
			
				<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">University/College</span>
  </div>
  <input name="FourthUniversity" placeholder="Institue Name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Course Type</label>
  </div>
  <select name="FourthCourseType" class="custom-select" id="inputGroupSelect01">
    <option selected>Full Time</option>
    <option selected>Part Time</option>
    <option selected>Correspondence</option>


  </select>
</div>
			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Passing Year</label>
  </div>
  <select name="FourthPassingYear" class="custom-select" id="inputGroupSelect01">
    <option selected>Year</option>
       <option selected>2020</option>
        <option selected>2019</option>
        <option selected>2018</option>
		<option selected>2017</option>
        <option selected>2016</option>
        <option selected>2015</option>
        <option selected>2014</option>
        <option selected>2013</option>
        <option selected>2012</option>
        <option selected>2011</option>
        <option selected>2010</option>
        <option selected>2009</option>
        <option selected>2008</option>
        <option selected>2007</option>
        <option selected>2006</option>
        <option selected>2005</option>
        <option selected>2004</option>
        <option selected>2003</option>
        <option selected>2002</option>
        <option selected>2001</option>
        <option selected>2000</option>
		<option selected>1999</option>
        <option selected>1998</option>
        <option selected>1997</option>
        <option selected>1996</option>
        <option selected>1995</option>
        <option selected>1994</option>
        <option selected>1993</option>


  </select>
</div>
			
			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Medium</label>
  </div>
  <select name="FourthMedium" class="custom-select" id="inputGroupSelect01">
 
       <option selected>English</option>
        <option selected>Tamil</option>
      
	


  </select>
</div>
			
			
			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Percentage</label>
  </div>
  <select name="FourthPercentage" class="custom-select" id="inputGroupSelect01">
       <option selected>95-99.9%</option>
        <option selected>90-95%</option>
        <option selected>85-90%</option>
		<option selected>80-85%</option>
        <option selected>75-80%</option>
        <option selected>70-75%</option>
        <option selected>65-70%</option>
        <option selected>60-65%</option>
        <option selected>55-60%</option>
        <option selected>50-55%</option>
        <option selected>45-50%</option>
        <option selected>40-45%</option>
        <option selected>35-40%</option>
        <option selected>30-35%</option>
        <option selected>25-30%</option>
        <option selected>Failed</option>
        <option selected>Washout</option>
         <option selected>Percentage</option>


  </select>
</div>
			
			
			
		
			
			
			
			
			
			
			<button id="addhere" type="submit" class="btn btn-primary btn-lg btn-block">Complete Resume</button>
		</form>
		<div style="margin-top:1cm;">
		
		
	  
		</div></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>