<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Hunch.pal</title>
	  <style>
		  body{
			  color:#FF3E4D;
		  }
		  .bb{
			  -webkit-box-shadow: 0px 13px 69px -17px rgba(194,194,194,1);
-moz-box-shadow: 0px 13px 69px -17px rgba(194,194,194,1);
box-shadow: 0px 13px 69px -17px rgba(194,194,194,1);
		  }
		 


.btn {
  position: relative;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding: 14px 50px;
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  box-shadow: 0 14px 30px rgba(0,0,0,0.15);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  
  span {
    position: relative;
  }
    
  &::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #a3b1f1, transparent);
    transform: translate(-50%, -50%);
    transition: all .2s ease, left 0s, top 0s;
  }
  
  &:hover::before {
    --size: 200px;
  }
}
		  
		  .cen{
			  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 53%;
  margin: -100px 0 0 -150px;
		  }
		  .cenn{
			  position: absolute;
 
  z-index: 15;
  
  left: 38%;
  margin: -100px 0 0 -150px;
		  }
	  </style>
	  <script>
	  
	  const btn = document.querySelector('.btn')

btn.onmousemove = function (e) {
  const x = e.pageX - btn.offsetLeft
  const y = e.pageY - btn.offsetTop
  
  btn.style.setProperty('--x', x + 'px')
  btn.style.setProperty('--y', y + 'px')
}
	  </script>
  </head>
  <body>
    <nav class="navbar navbar-light bb" style="background-color: #fff;">
  <a class="navbar-brand" href="#">
    <img src="/src/image/logo.png" width="200" height="70" alt="" loading="lazy">
  </a>
</nav>
	  <div class="cenn" style="margin-top:2cm;">
		  <img src="/src/image/landpic.gif" width="700" height="400">
	  </div>
	  <div class="cen" style="margin-top:4cm;">
	
  <div class="row">
	  <form action="/hunch/create" method="get">
    <div class="col"><button class="btn">
  <span>Create Resume</span>
</button></div>
	  </form>
    <div class="w-100"></div>
	  <br>
	  <form action="/upload" method="get">
	<div class="col"><button onClick="upload()" class="btn">
  <span>Upload Resume</span>
</button></div>	  
	  </form>
    
  

</div>
		 
		  
	  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>