<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Account</title>
	  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <style>
	  body {
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

nav {
  position: relative;
  display: block;
  background-color: #f6f9ff;
  padding: 10px;
  border-radius: 40px;
  transform: scale(1.8);
  overflow: hidden;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #53588b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  display: inline-block;
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  z-index: 2;
}

nav a b {
  position: relative;
  top: 40px;
  transition: 0.3s ease top;
}

nav a i {
  position: relative;
  left: 25%;
  transition: 0.3s ease left;
}

nav span {
  position: absolute;
  width: 100px;
  background-color: #e5eeff;
  top: 10px;
  bottom: 10px;
  left: 10px;
  border-radius: 50px;
  z-index: 1;
  transition: 0.3s ease left;
}

nav a:hover b {
  top: 0;
}

nav a:hover i {
  left: 0;
}

nav a:nth-child(1):hover ~ span {
  left: 10px;
}

nav a:nth-child(2):hover ~ span {
  left: 114px;
}

nav a:nth-child(3):hover ~ span {
  left: 218px;
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family: Arial;
  font-size: 14px;
  text-decoration: none;
  background-color: #53588b;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(83, 88, 139, 0.3);
  z-index: 125;
}
		  
	  </style>
  </head>
  <body>
	  
    <nav>
  <a href="#">
            <i class="fas fa-home"></i>
            <b>home</b>
        </a>
  <a href="#">
            <i class="far fa-file"></i>
            <b>resume</b>
        </a>
  <a href="#">
            <i class="fas glyphicon glyphicon-user"></i>
            <b>profile</b>
        </a>
  <span></span>
</nav>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>